# Site settings
title: "Flying Blue Kite"
description: "Blog written by a flying kite, connected to no strings, wandering around, carried by the winds of thought and endless possibility."
baseurl: "" # leave empty for root domain
url: "https://flyingbluekite.github.io" # your GitHub Pages URL
author: "Thareekh"
instagram: "thareeekh"
email: thareekhakk@proton.me

# Build settings
markdown: kramdown
highlighter: rouge
permalink: /:title/

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-paginate

# Pagination
paginate: 6
paginate_path: "/page/:num/"

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md
